<header class="Header">
	<div class="SubContainer Header-subContainer">

		<div class="Header-column">
		    <a class="Header-menu">
		    	{% comment %}<span class="u-hiddenText">Menu</span>{% endcomment %}
		    	<span class="Header-menuBar"></span>
		    	<span class="Header-menuBar"></span>
		    	<span class="Header-menuBar"></span>
		    </a>
		</div> <!-- /.Header-column -->

		<div class="Header-column">
	    	<a class="SiteTitle Header-siteTitle" href="{{ site.baseurl }}/">our recipes</a>
    	</div> <!-- /.Header-column -->

    	<div class="Header-column">
    		{%comment%} Currently empty! Could include a search function {%endcomment%}
		</div> <!-- /.Header-column -->

	</div> <!-- /.SubContainer -->
</header> <!-- /.Header -->
