<navigation class="Navigation is-collapsed">
	<section class="Navigation-header">
		<h2 class="Navigation-title Navigation-title--h2">Menu</h2>

		<a class="Navigation-close">
			<span class="Header-menuBar Header-menuBar--cross"></span>
			<span class="Header-menuBar Header-menuBar--cross"></span>
		</a>
	</section> <!--/.Navigation-header -->

	{% for category_hash in site.data.categories %}
	{% assign category = category_hash[1] %}

	<ul class="NavCategoryList">

		<h4 class="NavCategoryList-title NavCategoryList-title--h4 NavCategoryList-link NavCategoryList-link--title">{{ category.fullname }}</h4>

		<section class="NavCategoryList-section is-collapsed">
		{% for subcategories in category.subcategories | where:'category', category.category %}
		<li class="NavCategoryList-listItem">
			<a class="NavCategoryList-link NavCategoryList-link--subcategory" href="{{ site.baseurl }}/{{ category.shortname }}/{{ subcategories.subcategory }}">{{ subcategories.subcategory | capitalize }}</a>
		</li>
		{% endfor %}
		</section> <!-- /.NavCategoryList-section -->
	
	</ul> <!-- /.NavCategoryList -->
	
	{% endfor %}

</navigation> <!-- /.Navigation -->