{% if recipes.size < 1 %} {% comment %}If there are no recipes to show based on the given criteria, then this message displays{% endcomment %}
	
	<div class="Tile Tile--error">
		<p class="Tile-paragraph Tile-paragraph--error">Sorry, friend. No recipes here! :(</p>
		<a href="{{ site.baseurl }}/" class="Button Button--primary">Save me!</a>
	</div>

{% else %}

{% for recipe in recipes %} {% comment %}Otherwise, make a new tile for every recipe that meets the criteria defined in the page{% endcomment %}

	<a href="/recipes{{ recipe.url }}" class="Tile Tile--recipe u-rippleLink">
		<p class="Tile-name Tile-name--recipe">{{ recipe.title }}</p>
		
		{% if recipe.review %} {%comment%} If a review score is provided, produce the following {%endcomment%}
		<div class="Tile-review">
		{% for i in (1..{{recipe.review}}) limit:5 %}
		    <span class="Tile-review-star Tile-review-star--filled"></span>
		{% endfor %}

		{% for i in ({{recipe.review}}..4) limit:5 %}
		    <span class="Tile-review-star Tile-review-star--empty"></span>
		{% endfor %}
		</div>
		{% endif %}

	</a> <!-- .Tile--category -->
	
{% endfor %}

{% endif %}