//====== BASE STYLES ======//

html {
	min-height: 100%;
	position: relative; // allows for absolute positioning of navigation component
}

body {
	height: 100%;
	overflow-x: hidden;
}


//=== Containers ===//

.ContentContainer {
	background: $gray--light;
}

.SubContainer {
	max-width: $containerWidth;
	margin: 0 auto;
	padding-bottom: $spacing--xl*2;
}

.SubContainer--categoryNav {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@media screen and (min-width: $breakpoint--sm) {
		margin-top: -$spacing--xl;
		padding-bottom: $spacing--lg*2;
	}
}

.SubContainer--subCategoryNav {
	@media screen and (min-width: $breakpoint--sm) {
		margin-top: -$spacing--lg;
		padding-bottom: $spacing--xl;
	}
}

.SubContainer--recipeNav {
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(wrap);
	@media screen and (min-width: $breakpoint--sm) {
		margin-top: -$spacing--md;
		padding-bottom: $spacing--lg;
	}
}

.SubContainer--recipe {
	padding-top: $spacing--lg;
	@include display(flex);
	@include flex-direction(row);
	@include flex-wrap(wrap);
}
