//====== VARIABLES ======//


//=== Colors ===/
$primary: 			#15B28A;
$primary--dark: 	#129272;
$accent: 			#0CB9BE;
$accent--dark: 		#148387;
$gray:				#AFB6BB;
$gray--light:		#E7ECEE;
$gray--lighter:		#FCFCFC;
$gray--dark:		#6C797A;

//=== Spacing ===//
$spacing--xs:		.5em;
$spacing--sm:		1rem;
$spacing--md:		2rem;
$spacing--lg:		3.125rem;
$spacing--xl:		5rem;

//=== Breakpoints ===//
$breakpoint--sm: 	35.5em;
$breakpoint--md: 	48em;
$breakpoint--lg: 	64em;
$breakpoint--xl: 	80em;

//=== Transitions ===//
$transition--sm:	.3s;
$transition--lg:	.5s;

//=== Misc ===//
$containerWidth:	100rem;
$path--images:		'/recipes/images/';

