//===== FOOTER STYLES ======//


.Footer {
	color: #FFF;
	text-align: right;
	font-size: 1.5rem;
	background: $gray;
	padding: $spacing--md;
	height: $spacing--md;
}

.Footer-link {
	color: #FFF;
}

.Footer-subContainer {
	padding-bottom: 0; // overriding default SubContainer styles
}
