//===== HERO STYLES =====//


.Hero {
	font-size: 1rem;
	height: 20em;
	background: $primary;
	@include display(flex);
	@include align-items(center);
	@include justify-content(center);
	@include flex-direction(column);
	@media screen and (min-width: $breakpoint--md) {
		height: 36em;
	}
}

.Hero--secondary {
	background: $primary--dark;
	@media screen and (min-width: $breakpoint--md) {
		height: 24em;
	}
}

.Hero--tertiary {
	background: $accent;
	@media screen and (min-width: $breakpoint--md) {
		height: 20em;
	}
}

.Hero-title {
	text-align: center;
}

.Hero-title--h1 {
	font-family: $fontStack--secondary;
	color: $primary--dark;
	font-size: 4.5em;
	@media screen and (min-width: $breakpoint--md) {
		font-size: 7.2em;
		margin-top: -$spacing--xl; // adjustment based on negative margin from .SubContainer--categoryNav
	}
}

.Hero-title--h2 {
	color: #FFFFFF;
	font-size: 3.6em;
	font-weight: 200;
	max-width: 10em;
	z-index: 1;
	text-shadow: 0 2px 3px rgba(black, .4);
	@media screen and (min-width: $breakpoint--md) {
		font-size: 3.9em;
		line-height: 120%;
	}
}

.Hero-title--h2--subtitle {
	font-size: 3em;
	@media screen and (min-width: $breakpoint--md) {
		font-size: 3.6em;
	}
}


//=== Hero Category Background Patterns ===//

$categories-and-icons: (
	maindish: pizza,
	favorites: star,
	sidedish: bowl,
	appetizer: shrimp,
	drink: martini,
	dessert: popsicle
);

@each $category, $icon in $categories-and-icons {
	.Hero--#{$category} {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			@include size(100%);
			top: 0; right: 0; bottom: 0; left: 0;
			background-image: url('../images/patterns/pattern--#{$icon}.svg');
			background-size: 10%;
			opacity: .09;
			@media screen and (min-width: $breakpoint--md) {
				background-size: 4%;
			}
		}
	}
}
	
