//===== TILE STYLES=====//


.Tile {
	display: block;
	height: 100%;
	background: #FFFFFF;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: .1em solid $gray--light;
	box-shadow: 0 .4em 0 rgba(#FCFCFC, .5);
	@include transition(background, $transition--sm);
	&:hover {
		background: $gray--lighter;
	}
}


.Tile-name {
	font-size: 1.3rem;
	font-weight: 300;
	color: $gray--dark;
}

.Tile-title--h4 {
	text-transform: uppercase;
	color: $primary;
	font-weight: 300;
	font-size: 1.6em;
	text-align: center;
	&:after {
		content: '';
		margin: $spacing--sm auto;
		position: relative;
		display: block;
		height: .1rem;
		width: 4rem;
		background: $primary;
	}
}

//=== Tile Review ===//

.Tile-review {
	width: 35%;
	height: 100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
}

	.Tile-review-container {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}

	.Tile-review-star {
		@include size(1.75em);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.Tile-review-star--filled {
		background-image: url('#{$path--images}/icons/star--filled.svg')
	}

	.Tile-review-star--empty {
		background-image: url('#{$path--images}/icons/star--empty.svg')
	}

//===== TILE SUBTYPES =====//


//=== Category Tile ===//

.Tile--category {
	height: 17.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	width: 50%;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	@include flex-direction(column);
	&:nth-child(odd) {
		border-right: .1em solid $gray--light;
	}
}

.Tile-name--category {
	&:after {
		content: "";
		display: block;
		margin: 0 auto;
		margin-top: $spacing--md;
		width: 3.25em;
		height: .1rem;
		background: $primary--dark;
	}
}

	.Tile-icon + .Tile-name--category {
		margin-top: $spacing--md; // add this style when the .Tile-name--category element is the sibling to a .Tile-icon
	}

.Tile-icon {
	display: none;
	@media screen and (min-width: $breakpoint--md) {
		display: block;
		box-sizing: border-box;
		@include size (5rem);
		padding: $spacing--xs;
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border-radius: 50%;
		border: .1rem solid $primary;
	}
}


//=== Subcategory Tile ===//

.Tile--subCategory {
	height: 15rem;
	width: 100%;
	@media screen and (min-width: $breakpoint--md) {
		height: 17.5rem;
	}
}


//=== Recipe (Link) Tile ===//

.Tile--recipe {
	padding: $spacing--lg;
	width: 100%;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	&:nth-child(odd) {
		border-right: .1em solid $gray--light;
	}
	@media screen and (min-width: $breakpoint--md) {
		width: 50%;
	}
}

.Tile-name--recipe {
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: .1em;
	font-size: 1.3em;
}

//=== Recipe Steps Tile ===//

.Tile--recipeSteps {
	padding: 3em;
	width: 100%;
	@media screen and (min-width: $breakpoint--md) {
		width: calc(100% * (2/3) - 3em);
	}
}
	
	.Tile-steps,
	.Tile-recipeIngredientList {
		padding: 3em;
	}

	.Tile-recipeIngredientList {
		border: 1px solid $gray--light;
	}

//=== Recipe Data Tile ===//

.Tile--recipeData {
	padding: 3em;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	@media screen and (min-width: $breakpoint--md) {
		width: calc(100% / 3);
		margin-left: 3em;
	}
}
