//===== TILES =====//

.Tile {
	display: block;
	background: #FFFFFF;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: .1em solid $gray--light;
	box-shadow: 0 .4em 0 rgba(#FCFCFC, .5);
	@include transition(background, $transition--sm);
	&:hover {
		background: $gray--lighter;
	}
}

.Tile-icon {
	display: none;
	@media screen and (min-width: $breakpoint--md) {
		display: block;
	}
}

.Tile-name {
	font-size: 1.2rem;
	font-weight: 300;
	color: $gray--dark;
}

//=== Tile Review ===//

.Tile-review {
	width: 35%;
	height: 100%;
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
}

	.Tile-review-container {
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
	}

	.Tile-review-star {
		@include size(1.75em);
		background-repeat: no-repeat;
		background-size: cover;
	}

	.Tile-review-star--filled {
		background-image: url('#{$path--images}/icons/star--filled.svg')
	}

	.Tile-review-star--empty {
		background-image: url('#{$path--images}/icons/star--empty.svg')
	}

//===== TILE SUBTYPES =====//


//=== Category Tile ===//

.Tile--category {
	height: 17.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	width: 50%;
	@include display(flex);
	@include justify-content(center);
	@include align-items(center);
	&:nth-child(odd) {
		border-right: .1em solid $gray--light;
	}
}

.Tile-name--category {
	&:after {
		content: "";
		display: block;
		margin: 0 auto;
		margin-top: $spacing--md;
		width: 3.25em;
		height: .1rem;
		background: $primary--dark;
	}
}


//=== Subcategory Tile ===//

.Tile--subCategory {
	height: 15rem;
	width: 100%;
	@media screen and (min-width: $breakpoint--md) {
		height: 17.5rem;
	}
}


//=== Recipe Tile ===//

.Tile--recipe {
	padding: $spacing--lg;
	width: 100%;
	@include display(flex);
	@include justify-content(space-between);
	@include align-items(center);
	&:nth-child(odd) {
		border-right: .1em solid $gray--light;
	}
	@media screen and (min-width: $breakpoint--md) {
		width: 50%;
	}
}

.Tile-name--recipe {
	text-transform: capitalize;
	font-weight: 400;
	letter-spacing: .1em;
	font-size: 1.3em;
}

