---
layout: default		# parent layout
---

<section class="Hero Hero--tertiary Hero--{{ page.category | remove: " "}}">
	<h2 class="Hero-title Hero-title--h2">{{ page.title | capitalize }}</h2>
</section> <!-- /.Hero -->

<section class="RecipeContent">
	<div class="SubContainer SubContainer--recipe">
		<div class="Tile Tile--recipeSteps">
			<article class="Tile-recipeIngredientList">
				<h4 class="Tile-title Tile-title--h4">Ingredients</h4>

				<ul class="Tile-unorderedList Tile-unorderedList--ingredientList">
					{% for ingredient in page.ingredients %}
						<li class="Tile-listItem Tile-listItem--ingredient">{{ ingredient }}</li>
					{% endfor %}
					</ul>

			</article> <!-- /.IngredientList -->

			<article class="Tile-steps">
				<h4 class="Tile-title Tile-title--h4">Steps</h4>

				{{ content }} {%comment%} write the steps required in markdown, usually an ordered list if you want it to look right {%endcomment%}

			</article> <!-- /.Tile--recipeSteps -->
		</div> <!-- /.Tile--recipeSteps -->

		<aside class="Tile Tile--recipeData">
			<div class="Tile-dataSection">
				<h5 class="Tile-title Tile-title--h5">Estimated cooking time</h5>
				<p class="Tile-paragraph">{{ page.cooktime }}</p>
			</div>
			<div class="Tile-dataSection">
				<h5 class="Tile-title Tile-title--h5">Number served</h5>
				<p class="Tile-paragraph">{{ page.numserved }}</p>
			</div>
			<div class="Tile-dataSection">
				<h5 class="Tile-title Tile-title--h5">Recipe source</h5>
				<a class="Tile-linkEmphasis" href="{{ page.source }}">{{ page.source | remove:"http://" | remove: "www." }}</a>
			</div>
		</aside> <!-- /.Tile--recipeData -->
	</div>
</section> <!-- /.Subcontainer -->
