---
layout: default		# parent layout
---

{% assign recipes = site.recipes | where:'subcategory', page.subcategory %} {%comment%} 'recipes' in the following loop are recipes in which the subcategory of the recipe matches the subcategory of a subcategory page {%endcomment%}

<section class="Hero Hero--secondary Hero--{{ page.category | remove: " " }}">
	<h2 class="Hero-title Hero-title--h2">{{ page.subcategory | capitalize }} recipes</h2>
</section> <!-- /.Hero -->


<section class="SubContainer SubContainer--recipeNav">

{% include recipe-tile-loop.html %}

</section>
