---
layout: default		# parent layout
---

<section class="Hero Hero--secondary">
	<div class="SubContainer Hero-subContainer">

		<h2 class="Hero-title Hero--h2">{{ page.title | capitalize }}</h2>

	</div>
</section> <!-- /.Hero -->

<section class="RecipeContent">
	<div class="SubContainer RecipeContent-subContainer">
		<div class="u-column u-column--2-3">
			

			<article class="RecipeIngredientList">
				{{ page.ingredients }}
			</article> <!-- /.IngredientList -->


			<article class="RecipeSteps">
				{{ content }}
			</article> <!-- /.RecipeSteps -->
			

		</div> <!-- /.u-column--2-3 -->

		<aside class="u-column u-column--1-3">
		</aside> <!-- /.u-column--1-3 -->
	</div>
</section> <!-- /.Subcontainer -->

